@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "interreg";
  src: url("src/assets/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "intermed";
  src: url("src/assets/fonts/Inter-Medium.ttf");
}

@font-face {
  font-family: "intersemi";
  src: url("src/assets/fonts/Inter-SemiBold.ttf");
}
@font-face {
  font-family: "interbold";
  src: url("src/assets/fonts/Inter-Bold.ttf");
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  background-color: #0e1111;
  background-size: 101px 101px;
  background-image: linear-gradient(
      to right,
      hwb(201 54% 12% / 0.5) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, hwb(201 54% 12% / 0.5) 1px, transparent 1px);
}

@media (max-width: 800px) {
  html,
  body {
    background-size: 80px 80px;
  }
}

@media (max-width: 600px) {
  html,
  body {
    background-size: 60px 60px;
  }
}

@media (max-width: 400px) {
  html,
  body {
    background-size: 40px 40px;
  }
}

#register {
  background-image: linear-gradient(to right, #008ed8, #4bbdfa);
  border: 1px solid #008ed8;
}

#register:hover,
#register:focus {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid #008ed8;
}

/* #hammenu { */
/* background-image: linear-gradient(to right,  #4bbdfa); */
/* border: 1px solid #008ed8; */
/* border-radius: 4px; */
/* } */
